@page "/comprarativo/{id}/{nome}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using PosTech.PortFolioWeb.Shared

@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Comprar Ativo</PageTitle>

<h3>Comprar Ativos</h3>

<!-- operacao comprar ou vender -->
<!-- combo de ativos -->
<!-- quantidade -->
<!-- preço do ativo -->
<!-- saldo da carteira -->

@code {
    [Parameter] public string? Id { get; set; }
    [Parameter] public string? Nome { get; set; }

    private CotacaoAtivoDao[]? ativos;
    TransacaoDao transacao = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ativos = await Http.GetFromJsonAsync<CotacaoAtivoDao[]>("Investimento");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    async Task SalvarTransacao()
    {
        //await Http.Pos Get FromJsonAsync<AtivoDao[]>("Ativo");
        //await EntidadeService.Add(entidade);

        NavigationManager.NavigateTo("/");
    }

    private void Voltar()
    {
        NavigationManager.NavigateTo("/transacoes/{Id}/{Nome}");
    }
}
